<header class="container">
    <nav>
        <h1>Registro de productos</h1>
    </nav>
</header>
<div class="orden">
    <div class="container-form-products">
        <div class="form-handlebars">
            {{> form}}
        </div>
        <div class="mensajes-chat">
            {{> chat}}
            <div class="mostrarMsj">
                {{> mensajes}}
            </div>
        </div>
    </div>
    <div class="productos-handlebars">
        {{#if productos.error}}
            {{> error}}
        {{else}}
            {{> tables}}
        {{/if}}
    </div>
</div>